schema/idconfirmationV3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://reference.e-government.gv.at/namespace/idconfirmation#" 
    xmlns:pd="http://reference.e-government.gv.at/namespace/persondata/20020228#" 
    xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" 
    xmlns="http://reference.e-government.gv.at/namespace/idconfirmation#" 
    xmlns:ns="http://reference.e-government.gv.at/namespace/idconfirmation#" 
    xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion"
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">
    
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="W3C-XMLDSig.xsd" />
  <xsd:import namespace="http://reference.e-government.gv.at/namespace/persondata/20020228#" schemaLocation="PersonData_20_en.xsd" />
  <!-- Confirmation -->
  <xsd:element name="Confirmation" type="ConfirmationType">
    <xsd:annotation>
      <xsd:documentation>Bestätigung der Identität einer Person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:complexType name="ConfirmationType">
    <xsd:sequence>
      <xsd:element ref="pd:CompactPhysicalPerson" minOccurs="1" maxOccurs="1" />
      <xsd:element ref="pd:CompactPostalAddress" minOccurs="0" maxOccurs="1" />  
      <xsd:element name="SignatoryData" type="SignatoryDataType" minOccurs="0" maxOccurs="1" /> 
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PaymentData" type="PaymentDataType" minOccurs="0" maxOccurs="1" /> <!-- for acos cards -->
      <xsd:element name="ServerToken" type="ServerTokenType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Custom" type="CustomType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Binding" type="BindingType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Hash" type="HashType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="IdentityLinkSaml" type="IdentityLinkSamlType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ValidTo" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="Version" type="xsd:integer" use="required" />
  </xsd:complexType>

  <xsd:complexType name="SignatoryDataType">
    <xsd:annotation>
      <xsd:documentation>Optionale Signatordaten</xsd:documentation>
    </xsd:annotation>    
    <xsd:sequence>
      <xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1" >
        <xsd:annotation>
          <xsd:documentation>Telefonnummer, für Kontaktaufnahme druch den VDA</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EMailAddress" type="xsd:anyURI" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>eMail Adresse, für Kontaktaufnahme durch den VDA und für eMail Adresse im Zertifikat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>     
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>Ausweisdaten bei Identifikation durch einen RO</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IdMethod" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IdType" type="IdTypeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IdNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IdIssueDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IdValidToDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IdAuthority" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IdNation" type="IdNationType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentDataType">
    <xsd:annotation>
      <xsd:documentation>Optionale Zahlungsdaten, wird nur bei ACOS Aktivierung benötigt</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AccountInformation" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="IBAN" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="BIC" type="xsd:string" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServerTokenType">
    <xsd:annotation>
      <xsd:documentation>Rueckmeldung an einbringende Applikation</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Token" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="ServerIdentification" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ResponseUrl" type="xsd:string" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>  
  <xsd:complexType name="BindingType">
    <xsd:choice minOccurs="1" maxOccurs="1">
      <xsd:element ref="pd:Mobile" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="CINCSN" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="ExtCardNumber" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="Bestellnummer" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="HashType">
    <xsd:sequence>
      <xsd:element name="HashValue" type="xsd:string" minOccurs="1" maxOccurs="1" >
        <xsd:annotation>
          <xsd:documentation>Hashwert aus Einmalcode und Kennwort (Base64 kodiert)</xsd:documentation>
        </xsd:annotation>        
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="IdTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ASP" />	
      <xsd:enumeration value="BEPA" />
      <xsd:enumeration value="CHID" />
      <xsd:enumeration value="eDA" />      
      <xsd:enumeration value="eDAO" />
      <xsd:enumeration value="FLID" />
      <xsd:enumeration value="FUEH" />
      <xsd:enumeration value="IDKA" />
      <xsd:enumeration value="NOTA" />
      <xsd:enumeration value="NPA" />      
      <xsd:enumeration value="PERB" />
	  <xsd:enumeration value="PERD" />
	  <xsd:enumeration value="PERK" />
	  <xsd:enumeration value="PERO" />
      <xsd:enumeration value="PERS" />
	  <xsd:enumeration value="PERT" />
      <xsd:enumeration value="PERW" />
      <xsd:enumeration value="REIS" />	  
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IdNationType">
    <xsd:restriction base="xsd:string">
	  <xsd:minLength value='2'/>
	  <xsd:maxLength value='2'/>     
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="CIN">
    <xsd:annotation>
      <xsd:documentation>Card Identification Number [EN1867] (eCard)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:maxLength value="20"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="SVNR">
    <xsd:annotation>
      <xsd:documentation>Sozialversicherungsnummer der österreichischen eCard</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CINCSN">
    <xsd:annotation>
      <xsd:documentation>Signatornummer und Kartenfolgenummer der ACOS Karten</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:maxLength value="16"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ExtCardNumber">
    <xsd:annotation>
      <xsd:documentation>Chip Seriennummer der A-Trust Karte</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:maxLength value="32"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Bestellnummer">
    <xsd:annotation>
      <xsd:documentation>Bestellnummer für Aktivierung</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:maxLength value="20"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:complexType name="CustomType">
    <xsd:annotation>
      <xsd:documentation>Zusatzfelder fur spezielle Parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Value" type="CustomValueType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomValueType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="Name" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="IdentityLinkSamlType">
    <xsd:annotation>
      <xsd:documentation>Optionale Personenbindung des ROs</xsd:documentation>
    </xsd:annotation>
    <xsd:choice minOccurs="0">
      <xsd:element name="Base64Content" type="xsd:base64Binary"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="XMLContentType" mixed="true">
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:any namespace="##any" processContents="lax"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>